/*
Theme Name: Minnow Child
Template: minnow
Author: Child Theme Configurator
Version: 1.0.1424994948
Updated: 2015-02-26 23:55:48
*/

@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6 {
  font-family: raleway, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

p {
  font-weight: 300;
  line-height: 2;
}

a {
  color: #ffae2b;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #cc6600;
}

.menu-toggle:hover {
  background-color: transparent;
}

b, strong {
  font-weight: 600;
}

.slide-menu a {
  color: #777;
  line-height: 2.2;
}

.slide-menu a:hover {
  color: #ffae2b;
}

.widget ul li::before {
  margin-right: 0;
}
.entry-title, .entry-title a, .entry-title a:visited {
  color: #333;
}

.entry-title {
  font-size: 2.25em;
}

.site-branding {
  padding-left: 0.9375em;
  text-align: left;
}

.site-logo-link {
  margin: 0;
  max-width: 232px;
}

.site-info {
  display: none;
}

.header-widget {
  padding-right: 3em;
  padding-top: 1em;
}

.header-widget .textwidget, .header-widget .search-form {
  padding-right: 0.9375rem;
}

.header-widget div {
  float: right;
  z-index: 1;
}
.header-widget h2 {
  display: none;
}

.blog-tagline {
  line-height: 1;
  padding-top: 1.2em;
  text-transform: uppercase;
}
.blog-tagline, .blog-title {
  color: #fff;
  font-weight: normal;
  text-align: center;  
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  
}

.site-header {
  height: 200px;
  padding-top: .7em;
  background: url("http://localhost/wordpresstest/wp-content/uploads/2015/02/banner.jpg") no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.menu-toggle {
  display: none;
}

.entry-meta {
  border-right-color: #666;
}

.entry-meta a {
  color: #666;
}

.search-field {
  font-family: inherit; 
  padding: 0.5rem;
}

.widget ul li::before {
  content: "";
}

.widget-title {
  color: #666;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}
	
/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper-demo *::selection {
    background: transparent; 
}

.wrapper-demo *::-moz-selection {
    background: transparent; 
}

.wrapper-demo {
    margin: -7px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: #ffae2b;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-family: inherit;
  font-size: .8em;
  font-weight: 600;
  height: 25px;
  padding: 6px;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #ffae2b;
  border-color: #ffae2b;
  color: #fff;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  border: none;
  border-radius: 3px 0 0 3px;
  color: #555;
  font-family: inherit;
  font-size: .8em;
  min-height: 25px;
  padding: 0 0.4em;
  width: 120px;
}

.search-form {
  display: none;
  padding-top: 4px;
}

.search-icon {
  fill: #ffae2b;
  padding: 10px;
  width: 32px;
}
.search-icon:hover {
  cursor: pointer;
}

.icon-category-nav {
    border: 1px solid #ffae2b;
    border-radius: 100%;
    fill: #ffae2b;
    float: left;
    margin-right: 10px;
    max-height: 35px;
    padding: 3px;
    stroke: #ffae2b;
    width: 35px;
}

.svg-rect {
  fill: #ffae2b;
}
.svg-line {
  stroke: #ffae2b;
  stroke-width: 2;
}
.wrapper-dropdown-5 .dropdown .all-categories a {
  color: #ffae2b;
  font-size: 0.75em;
  letter-spacing: 0.115em;
  text-transform: uppercase;
}
.all-categories a::after {
  content: ">";
  margin-top: -1px;
  padding-left: 4px;
}

.site-footer {
  background: none repeat scroll 0 0 #f1f1f1;  
  color: #333;
  text-transform: none;
  font-weight: 300;
  font-family: raleway,san-serif;
  font-size: .8em;
  padding: 40px 0;
  max-width: 100%;
}

.site-footer a, .site-footer a:visited {
  color: #666666;
}
.site-footer a:hover {
  color: #ffae2b;
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer .social li {
  display: inline-block;
  margin-left: 4%;
}

.fa-2x {
  font-size: 2.6em;
}
.fa {
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
  
/* DEMO 5 */

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    padding: 12px 25px 12px 15px;

    /* Styles */
    background: none;
    border-radius: 5px;
    /*box-shadow: 0 1px 0 rgba(0,0,0,0.2);*/
    
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.header-label {
  color: #fff;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase; 
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 200px;
    
    /* Styles */
    background: none repeat scroll 0 0 rgba(247, 245, 244, 0.95);
    border-radius: 0 0 5px 5px;
    /*border: 1px solid rgba(0,0,0,0.2);*/
    border-top: none;
    border-bottom: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    list-style: none;
    margin: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    line-height: 35px;
    padding: 10px 20px;
    transition: all 0.3s ease-out;
    /*border-bottom: 1px solid #e6e8ea;*/
}

.wrapper-dropdown-5 .dropdown li a:hover {
  background: #fff;
}
.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #ffae2b;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #ffae2b;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #ffd591 transparent;
}

.wrapper-dropdown-5.active .dropdown {
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    max-height: 400px;
}

/* No CSS3 support: none */	

[class*='col-'] {
  float: left;
}
.col-1-2 {
  width: 50%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 700px) {
  [class*='col-'] {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .site-logo-link {
    margin: 0 auto;
  }
  .header-widget {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}
